/*font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

:root {
  --branding-color: #b36a5e;
  --secondary-color: #eed7c5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Nunito", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}

h1 {
  font-size: 90px;
}

h3 {
  font-size: 15px;
}

h4{
  font-size:48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  line-height: 1.5;
}

nav{
  padding: 20px 0;
}

nav ul{
  padding: 0;
  margin: 0;
}

nav li{
  display:inline;
  list-style: none;
  line-height:40px;
  margin-left: 15px;
}

nav a{
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover, 
nav li.active a{
  color: var(--branding-color);
}


.hero {
  background-color: var(--secondary-color);
  text-align: left;
  padding: 160px 160px;
}

.hero p {
  font-size: 30px;
  font-weight: bold;
  color: #21243d;
  margin: 0px 4px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 30px;
  color: #21243d;
  margin: 0px 4px;
}

.content-container{
  padding: 40px 160px;
}
.content-container h1{
  font-size: 40px;
}

.content-container h2{
font-family: var(--heading-font-family);
color: #28282b;
font-size: 20px;
}

.content-container p{
font-family: 'Nunito', sans-serif;
color: black;
font-size: 14px;
line-height: 25px;
}

.content{
padding: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-secondary{
  background: var(--branding-color);
  border: 2px solid var(--branding-color);
  border-radius: 4px;
  color: white;
}

#headshot {
  border-radius: 50%;
  width: 400px;
  margin: -10px 103px;
}

#full-body-image{
  width:300px;
  margin: 20px 130px;
}

.project-description {
  padding: 7px 20px;
}

.project-description p {
  line-height: 29px;
}

.contact-information{
       box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.15);
      border-radius:10px;
      display:block;
      margin:25px auto;
      text-align: center;
      flex-wrap: wrap;
        max-width: 450px;
        padding:40px;
        transition: 0.5s;
}

.contact-information h1{
  font-size: 60px;
}

.contact-information .contact-icons:hover, .email-icon:hover {
  color: var(--branding-color);
}

.contact-information .contact-icons, .email-icon {
  font-size: 20px;
  margin: 30px 0;
  padding: 0px 20px;
}

#email-link{
  text-decoration: none;
}

.project-link-github-icon:hover{
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

footer{
  margin: 60px 0;
}

footer .contact-box{
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius:10px;
  
}
footer .contact-box p{
  margin:0;
}

footer .email-link{
  text-decoration:none;
  color:black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover{
  color: var(--branding-color);
}

footer .social-links a{
   margin: 0 20px;
   color:var(--branding-color);
   background: var(--secondary-color);
   padding:10px 15px;
   font-size: 18px;
   border-radius:50%;
   transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
  color:white;
  background:var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 45px;
    margin-top: 15px;
  }
  h4{
    font-size: 18px;
  }
  .hero {
    text-align: center;
    padding: 40px 60px 0px;
  }
  .hero h2 {
    font-size: 20px;
    line-height: 1.5em;
    margin-bottom: 5px;
  }
  .hero p {
    font-size: 20px;
  }

  .content-container{
    text-align: center;
    padding: 0px 20px;
  }
  .content-container h1{
    font-size: 30px;
  }
  .project-description {
    text-align: center;
  }

  #headshot, #full-body-image {
    display: block;
    margin: 40px auto;
    max-width: 75%;
  }
  #weather-app,
  #gilmore-girls {
    margin-bottom: 15px;
  }
  .contact-information{
    max-width:350px;
    margin: 30px;
  }
  .contact-information h1{
    font-size: 50px;
  }
footer .contact-box{
  padding: 30px;
}
p.second-footer{
  margin: 30px;
  font-size:13px;
}

}
